@use '/src/styles/theme/settings/media';

.eventAdvert {
  margin-top: 2rem;

  &__imagesBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    :first-child {
      margin-right: auto;
    }
  }

  &__logo {
    width: 250px;
  }

  &__sponsorImage {
    max-width: 300px;
    max-height: 50px;
  }

  &__talks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    height: 270px;

    &--empty {
      margin-bottom: 140px;
    }
  }

  &__talk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__speakers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__speaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    width: 200px;
  }

  &__profileImage {
    border-radius: 50%;
    margin-bottom: 0.5rem;
    width: 70%;
    height: auto;
  }

  &__title {
    font-weight: bold;
  }

  &__speakerName {
    color: grey;
    margin-bottom: 1rem;
    min-height: 25.6px;
  }

  &__speakerTitle {
    font-weight: bold;
    font-size: 16px;
    max-width: 300px;
  }

  &__city {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 0;

    &--no-talks {
      margin: 159px 0 0;
    }
  }

  &__date {
    text-align: center;
    font-size: 24px;
    margin: 5px 0 0;
  }

  &__address {
    text-align: center;
    font-size: 18px;
    margin: 0 0 40px;
  }

  &__location {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
}
