@import '../../theme/settings/index.scss';

.hero{
    display: flex;
    align-content: center;
    justify-content: center; 
    flex-direction: column;
    height: auto;
    padding: 4rem 0 8rem;
    position: relative;
    background: $sc_black; 
    color: white;    
    text-align: center;
    overflow: hidden;
    min-height: 0;
    background: $sc_green;
    color: white;

    h1{
        text-shadow: 0px 0px 14px $sc_black;
    }

    span{
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-size: cover;
        background-position: center center;
        opacity: 0.75;
    }

    .logoCircle{
        min-height: 100vh;
        min-width: 60vw;
        max-width: 1000px;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        path{
            fill: $sc_black;
        } 

        @include mobile(){
            min-width: 65vw;
        }

        @include mobile-small(){
            min-width: 85vw;
        }
    }
}
