.eventSponsors {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  row-gap: 0.5rem;

  &__imageWrapper {
    img {
      max-width: 100%;
      //max-height: 4em;
      //height: 60px;
      height: 3em;

      margin: auto;
      display: block;
    }
  }

  &--small {
    .eventSponsors__imageWrapper {
      img {
        height: 2em;
      }
    }
  }
}
