.attendees {
    margin-top: 25px;
}

.attendees-list {
    margin-top: 10px;
}

.attendee {
    margin-bottom: 10px;

    .attendee-avatar {
        width: 50px;
        height: 50px;
        padding: 0;

        img {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .attendee-name {
        display: flex;
        align-items: center;

        img {
            margin-left: 5px;
        }
    }
}


.online-attendance {

    background-color: #efefef;
    padding: 15px;

    .online-attendance-header {
        font-weight: 700;
        display: flex;
        align-items: center;
        
        img {
            margin-left: 5px;
        }
    }
}