@import '../../theme/settings/index.scss';

.header {   
    padding: 1rem 0;
    top: 0;    
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    @include transition();

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__logo{
        display: block;
        max-width: 250px;
        width: 40vw;
        svg{
            width: 100%;
        }
    }

    &__mobileNav{
        display: none;
        align-items: center;
        width: 30px;
        height: 40px;
        margin-left: auto;
        z-index: 11;
        @include tablet(){
            display: flex;
        }
        &:focus{
            outline: none;
        }
        span{
            display: block;
            background: $sc_black;
            width: 100%;
            height: 3px;
            position: relative;
            @include transition();
            &:after, &:before{
                content: "";
                width: 80%;
                height: 3px;
                position: absolute;
                background: $sc_black;
                right: 0;
                @include transition();
            }
            &:after{
                transform: translateY(-8px)
            }
            &:before{
                transform: translateY(8px)
            }
        }
    }

    &--mobileNavActive{
        .header__nav{
            transform: translateX(0);
            opacity: 1;
        }
        .header__mobileNav{
            span{
                background: transparent;
                &:after{
                    transform: translateY(0) rotateZ(-45deg);
                }
                &:before{
                    transform: translateY(0) rotateZ(45deg);
                }
            }
        }
        .dropdown-content {
            display:none !important;
        }
    }

    &__nav{    
        margin: auto;
        margin-right: 0;
        @include tablet(){
            display: flex;
            align-content: center;
            justify-content: center;
            margin: auto;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;      
            z-index: 10;      
            background: white;
            transform: translateX(-100%);
            opacity: 0;
            @include transition();
        }
        ul{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            @include tablet(){
                flex-direction: column;
                margin: auto;
            }
            li{
                list-style-type: none;
                padding: 0 2rem;
            }
            a{
                display: block;
                padding: 2rem 0;
                text-decoration: none;
                position: relative;
                color: $sc_black;
                font-size: 1.1rem;
                @include transition();
                @include tablet(){
                    font-size: 1.4rem;
                }
                span{
                    display: block;
                    position: relative;
                    &:after{
                        content: "";
                        width: 0;
                        height: 1px; 
                        background: $sc_red;
                        position: absolute;
                        left: 50%;
                        bottom: -3px;
                        transform: translateX(-50%);
                        @include transition();
                    }
                }
                &:hover, &.active{
                    text-shadow: 0px 0px 1px $sc_black;
                    span:after{
                        width: 100%;
                    }
                }
            }
        }
    } 

    .sticky &{
        padding: 2vh 0;
    }

    .dropdown ul {
        display:none;
    }
    
    .dropdown:hover ul{
        display:block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        li a {
            padding:0;
        }
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        width: 500px;
      }
}