@import '../../theme/settings/index.scss';

.footer{
    margin-top: 3rem;
    padding: 4rem 0 2rem;
    text-align: center;
    font-size: 0.7rem;
    background: $sc_grey_light;
    &__logo{
        display: inline-block;
        max-width: 40%;
        width: 160px;
        svg{
            max-width: 100%;
        }
    }
    p{
        margin-bottom: 0;
    }
}