@use '/src/styles/theme/settings/colors';

.eventNext {
  &__button {
    margin-top: 20px;
    text-align: right;
  }

  dl {
    display: grid;
    grid-template-columns: 24px 24px auto;
    grid-template-rows: auto;
    row-gap: 1rem;
    margin-bottom: 0;

    s dt {
      grid-column-start: 1;
    }

    dd {
      grid-column-start: 3;
      margin-bottom: 0;
    }
  }
}
