@use './settings/colors';
@use './settings/media';

.form {
  width: 50%;
  margin: 0 auto;
  @include media.tablet {
    width: 75%;
  }
  @include media.mobile {
    width: 100%;
  }
}

form {
  input,
  textarea,
  select {
    padding: 15px;
    font-family: inherit;
    font-size: inherit;
    border: solid 2px colors.$sc_grey_medium;
    box-shadow: none;
    outline: none;
  }
  input {
    width: 100%;
    &:focus {
      border-color: colors.$sc_green;
    }
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
  }
  fieldset {
    margin-bottom: 1rem;
    padding: 0;
    outline: none;
    border: none;
    > div {
      margin: 1rem 0;
    }
  }
  .input_info {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .submit {
    text-align: right;
  }
  .field-hide {
    display: none;
  }
  select {
    width: 100%;
    background-color: white;
  }

  input[type='checkbox'] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      display: flex;
      margin: 0.5rem 0.5rem 0.5rem;
      padding: 0;
      padding-left: 30px;
      position: relative;
      cursor: pointer;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: colors.$sc_green;
    }

    // Box hover
    &:hover + label:before {
      background: colors.$sc_green;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: colors.$sc_green;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}
