$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-small-width: 372px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: #{$mobile-small-width}) {
    @content;
  }
}
